<mat-card>

<h2>Attendance Tracker</h2>

<table mat-table [dataSource]="employees">

<!-- ID -->
<ng-container matColumnDef="id">
<th mat-header-cell *matHeaderCellDef>ID</th>
<td mat-cell *matCellDef="let e">{{e.id}}</td>
</ng-container>

<!-- Name -->
<ng-container matColumnDef="name">
<th mat-header-cell *matHeaderCellDef>Name</th>
<td mat-cell *matCellDef="let e">{{e.name}}</td>
</ng-container>

<!-- Department -->
<ng-container matColumnDef="department">
<th mat-header-cell *matHeaderCellDef>Department</th>
<td mat-cell *matCellDef="let e">{{e.department}}</td>
</ng-container>

<!-- Attendance -->
<ng-container matColumnDef="attendance">

<th mat-header-cell *matHeaderCellDef>Attendance</th>

<td mat-cell *matCellDef="let e">

<button mat-raised-button color="primary"
(click)="markAttendance(e.id,'Present')">
Present
</button>

<button mat-raised-button color="warn"
(click)="markAttendance(e.id,'Absent')">
Absent
</button>

<span *ngIf="attendance[e.id]">
 - {{attendance[e.id]}}
</span>

</td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</mat-card>