<mat-card class="leave-card">
  <h2>Leave Request</h2>

  <form [formGroup]="leaveForm" (ngSubmit)="submitLeave()">

    <!-- From Date -->
    <mat-form-field appearance="outline">
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="fromPicker" formControlName="fromDate">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
      <mat-error *ngIf="leaveForm.get('fromDate')?.invalid">
        From date is required
      </mat-error>
    </mat-form-field>

    <!-- To Date -->
    <mat-form-field appearance="outline">
      <mat-label>To Date</mat-label>
      <input matInput [matDatepicker]="toPicker" formControlName="toDate">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
      <mat-error *ngIf="leaveForm.get('toDate')?.invalid">
        To date is required
      </mat-error>
    </mat-form-field>

    <!-- Reason -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Reason</mat-label>
      <textarea matInput rows="4" formControlName="reason"></textarea>
      <mat-error *ngIf="leaveForm.get('reason')?.invalid">
        Minimum 10 characters required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="leaveForm.invalid">
      Submit Leave Request
    </button>

  </form>
</mat-card>

