<mat-card>

<h2>Leave Request</h2>

<form [formGroup]="leaveForm" (ngSubmit)="submitLeave()" class="form">

<mat-form-field>
<input matInput placeholder="Employee Name" formControlName="employeeName">
</mat-form-field>

<mat-form-field>
<input matInput type="date" formControlName="startDate">
</mat-form-field>

<mat-form-field>
<input matInput type="date" formControlName="endDate">
</mat-form-field>

<mat-form-field>
<input matInput placeholder="Reason" formControlName="reason">
</mat-form-field>

<button mat-raised-button color="primary">
Submit Leave
</button>

</form>

</mat-card>

<mat-card>

<h3>Leave Requests</h3>

<table mat-table [dataSource]="leaveRequests">

<ng-container matColumnDef="employee">
<th mat-header-cell *matHeaderCellDef>Employee</th>
<td mat-cell *matCellDef="let l">{{l.employeeName}}</td>
</ng-container>

<ng-container matColumnDef="start">
<th mat-header-cell *matHeaderCellDef>Start</th>
<td mat-cell *matCellDef="let l">{{l.startDate}}</td>
</ng-container>

<ng-container matColumnDef="end">
<th mat-header-cell *matHeaderCellDef>End</th>
<td mat-cell *matCellDef="let l">{{l.endDate}}</td>
</ng-container>

<ng-container matColumnDef="reason">
<th mat-header-cell *matHeaderCellDef>Reason</th>
<td mat-cell *matCellDef="let l">{{l.reason}}</td>
</ng-container>

<ng-container matColumnDef="status">
<th mat-header-cell *matHeaderCellDef>Status</th>
<td mat-cell *matCellDef="let l">{{l.status}}</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</mat-card>